body {
    margin: 0 auto;
    font-family: sans-serif;
}

.content {
    display: flex;
    background-color: rgb(190, 231, 243);
    flex-direction: column;
    border-radius: 5px;
    margin: 10px auto;
    transition: 0.5s;
    max-width: 500px;
}

/*див заголовка*/
.header-title {
    display: flex;
    margin: 0 auto;
}

/*текст заголовка*/
.header-title-text {
    display: flex;
    flex-direction: column;
    margin: 5px auto 0;
    color: rgb(7, 5, 73);
    width: 100%;
}

/*весь аккордеон*/
.accordion {
    display: flex;
    flex-direction: column;
    margin: 10px;
    transition: 0.3s;
}
  
/*элемент аккордеона*/
.accordion-item {
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    border-top: 1px solid rgb(84, 81, 81);
    transition: 0.3s;
    width: 100%;
    margin: 10px auto;
}

/*Скрываем иконку радиокнопки*/
.accordion-item-input {
    opacity: 0;
    height: 0;
}

label {
    cursor: pointer;
}

/*название элемента аккордеона*/
.accordion-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-size: 24px;
}
  
/*новая иконка радиокнопки*/
.radio-icon {
    font-size: 30px;
}

.accordion-item-image {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    height: 0;
}

.accordion-header:hover {
    background-color: #eee;
}
  
.accordion-header:active {
    background-color: #ccc;
}
  
/*поворачиваем иконку радиокнопки при выборе*/
.accordion-item-input:checked ~.accordion-item-header >.radio-icon {
    transform: rotate(45deg);
    transition: 0.2s;
}

/*меняем цвет при выборе*/
.accordion-item-input:checked ~.accordion-item-header {
    color: black;
    font-weight: bold;
    transition: 0.2s;
}
  
/*открываем картинку при выборе*/
.accordion-item-input:checked ~ .accordion-item-image {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    transition: 0.2s;
}
  
.accordion-item-input:active ~ .accordion-item-header {
    color: black;
    transition: 0.2s;
}
  
@media (max-width: 320px) {
    .accordion {
      max-width: 200px;
        }
    .header-title-text {
        font-size: 18px;
        }
    .accordion-item-header {
        font-size: 18px;
        }
    .radio-icon {
        font-size: 20px;
        }
    .accordion-item {
        margin: 3px auto; 
        }
}
   
@media (max-width: 820px) {
    .accordion {
        max-width: 600px;
    }

@media (hover :hover) {
    .accordion-item-input:hover ~.accordion-item-header {
            color: rgb(41, 41, 41);
            transition: 0.2s;
        }
    input:hover ~.accordion-item-header >.radio-icon {
            transform: rotate(45deg);
        }
    .accordion-item-input:hover ~.accordion-item-image {
            height: 200px;
            width: 200px;
            margin: 0 auto;
            transition: 0.2s;
        }
    }
}